# Virtual environments
CV_venv/
venv/
.venv/

# Python
__pycache__/
*.pyc

# Model weights
*.pt
*.pth
*.onnx

# VSCode
.vscode/

# OS files
Thumbs.db
desktop.ini

# Data files
*.csv
Videos/
docs/
*.mp4